undefined * {
    line-height: 1
}

.home-elem-6:hover {
    background-color: #ffffff19;
    color: #ffffffff
}

.home-elem-1 {
    padding: 10px 16px 10px 16px;
    flex-direction: column;
    background-color: #000000ff;
    background-image: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1684401177/static/wp2082762-blue-and-orange-wallpapersjpg_1684401176_28753.jpg);
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000ff #000000ff #000000ff #000000ff;
    opacity: 100%;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    position: relative
}

.home-elem-2 {
    padding: 10px 0px 10px 0px;
    flex-direction: column;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    max-width: 1300px;
    position: relative;
    display: flex;
    margin-right: auto
}

.home-elem-3 {
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 1300px;
    position: relative
}

.home-elem-4 {
    background: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1670831129/static/menu_cdsvg_1669271257_86278svg_1670831129_48688.svg) 50% 50% / 55% auto no-repeat no-repeat scroll border-box padding-box;
    width: 50px;
    height: 50px;
    min-height: 20px;
    min-width: 20px;
    display: none;
    position: relative
}

.home-elem-5 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.home-elem-6 {
    padding: 12px 16px 12px 16px;
    background-color: #ffffff00;
    border-radius: 2px 2px 2px 2px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #ffffffbf;
    line-height: 26px;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.home-elem-123 {
    background-color: #00000000;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #000000ff transparent;
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-width: 20px;
    position: relative
}

.home-elem-124 {
    padding: 0px 16px 0px 16px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: auto;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    max-width: 1200px;
    margin-right: auto;
    display: flex
}

.home-elem-125 {
    padding: 32px 0px 32px 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    max-width: none;
    margin-right: auto;
    display: flex
}

.home-elem-126 {
    -o-object-fit: cover;
       object-fit: cover;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 273.90419006347656px;
    margin-left: 21%;
    margin-top: -5%;
    position: relative
}

.home-elem-127 {
    padding: 150px 0px 0px 0px;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-128 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: Kumbh Sans;
    font-size: 53px;
    font-weight: 600;
    color: #FFF;
    line-height: 63px;
    text-align: center;
    background-color: #2e075c00;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin-left: 25%;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 600px;
    max-height: null%
}

.home-elem-7 {
    padding: 80px 30px 80px 30px;
    flex-direction: column;
    background-color: #fefae0;
    background-image: linear-gradient(180deg, rgb(0, 0, 0)0.5%, rgba(15, 105, 217, 0.81)41.699999999999996%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    box-shadow: 0px 0px 3px 0px #0000003b;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000ff #000000ff #0f69d9d3 #000000ff;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    position: relative
}

.home-elem-8 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    z-index: 1;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1300px;
    position: relative
}

.home-elem-9 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: px;
    position: relative
}

.home-elem-10 {
    padding: 1px 1px 1px 1px;
    flex-direction: column;
    height: auto;
    width: auto;
    display: flex;
    margin-right: NaNpx;
    max-width: 46%;
    position: relative
}

.home-elem-11 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    line-height: 70px;
    padding: 20px 0px 10px 0px;
    text-align: left;
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-12 {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    line-height: 36px;
    padding: 0px 0px 24px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    position: relative
}

.home-elem-13 {
    flex-direction: column;
    z-index: 1;
    height: auto;
    width: auto;
    display: flex;
    max-width: 46%;
    position: relative
}

.home-elem-14 {
    -o-object-fit: fill;
       object-fit: fill;
    width: auto;
    height: auto;
    position: relative;
    max-width: 100%
}

.home-elem-30 {
    padding: 80px 30px 80px 30px;
    flex-direction: column;
    background-color: #fefae0;
    background-image: linear-gradient(355deg, rgba(255, 117, 0, 0.9)18.3%, rgba(15, 105, 217, 0.83)78.10000000000001%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    box-shadow: 0px 0px 3px 0px #0000003b;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #0f69d9d3 #0f69d9ff #ff7500e5 #0f69d9ff;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    position: relative
}

.home-elem-29 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    z-index: 1;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1300px;
    position: relative
}

.home-elem-28 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: px;
    position: relative
}

.home-elem-25 {
    padding: 1px 1px 1px 1px;
    flex-direction: column;
    height: auto;
    width: auto;
    display: flex;
    margin-right: NaNpx;
    max-width: 46%;
    position: relative
}

.home-elem-23 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    line-height: 70px;
    padding: 20px 0px 10px 0px;
    text-align: left;
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-24 {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    line-height: 36px;
    padding: 0px 0px 24px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    position: relative
}

.home-elem-27 {
    flex-direction: column;
    z-index: 1;
    height: auto;
    width: auto;
    display: flex;
    max-width: 46%;
    position: relative
}

.home-elem-26 {
    -o-object-fit: fill;
       object-fit: fill;
    width: auto;
    height: auto;
    position: relative;
    max-width: 100%
}

.home-elem-15 {
    padding: 80px 30px 80px 30px;
    flex-direction: row-reverse;
    background-color: #fefae0;
    background-image: linear-gradient(0deg, rgb(46, 7, 92)8.4%, rgba(255, 117, 0, 0.89)65.3%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #ff7500e5 #ff7500ff #2e075cff #ff7500ff;
    z-index: 1;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    position: relative
}

.home-elem-16 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    z-index: 1;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1300px;
    position: relative
}

.home-elem-17 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: px;
    position: relative
}

.home-elem-18 {
    flex-direction: column;
    z-index: 1;
    height: auto;
    width: auto;
    display: flex;
    max-width: 46%;
    position: relative
}

.home-elem-19 {
    -o-object-fit: fill;
       object-fit: fill;
    width: auto;
    height: auto;
    position: relative;
    max-width: 100%
}

.home-elem-20 {
    padding: 1px 1px 1px 1px;
    flex-direction: column;
    height: auto;
    width: auto;
    display: flex;
    margin-right: NaNpx;
    max-width: 46%;
    position: relative
}

.home-elem-21 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    line-height: 70px;
    padding: 20px 0px 10px 0px;
    text-align: left;
    opacity: 100%;
    z-index: 1;
    width: 106.36515912897822%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-22 {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    line-height: 36px;
    padding: 0px 0px 24px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    position: relative
}

.home-elem-36 {
    padding: 80px 30px 80px 30px;
    flex-direction: column;
    background-color: #FAFAFA;
    background-image: linear-gradient(180deg, rgb(46, 7, 92)6.7%, rgb(181, 255, 252)100%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #2e075cff #2e075cff #B5FFFC #2e075cff;
    z-index: 1;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    position: relative
}

.home-elem-35 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    z-index: 1;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 940px;
    position: relative
}

.home-elem-34 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 750px;
    position: relative
}

.home-elem-33 {
    font-family: Arimo;
    font-size: 38px;
    font-weight: 900;
    color: #000000;
    line-height: 48px;
    padding: 20px 0px 30px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-31 {
    font-family: Arimo;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    line-height: 36px;
    padding: 0px 0px 24px 0px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    position: relative
}

.home-elem-32 {
    padding: 50px 0px 0px 0px;
    -o-object-fit: fill;
       object-fit: fill;
    width: auto;
    height: auto;
    position: relative;
    max-width: 100%
}

.home-elem-37 {
    padding: 64px 64px 64px 64px;
    flex-direction: column;
    align-items: center;
    row-gap: 23px;
    background-image: linear-gradient(355deg, rgb(255, 222, 233)0%, rgb(181, 255, 252)100%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #B5FFFC #b5fffcff #ffdee9ff #b5fffcff;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-38 {
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 900px
}

.home-elem-39 {
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-40 {
    -o-object-fit: fill;
       object-fit: fill;
    width: 100%;
    height: 213.1961326599121px;
    position: relative
}

.home-elem-41 {
    padding: 32px 32px 32px 32px;
    align-items: baseline;
    -moz-column-gap: 32px;
         column-gap: 32px;
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 200px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-42 {
    -moz-column-gap: 12px;
         column-gap: 12px;
    font-family: Kumbh Sans;
    font-size: 52px;
    font-weight: 700;
    color: #000000;
    line-height: 62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-43 {
    font-family: Kumbh Sans;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 32px;
    padding: 32px 0px 0px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-44 {
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 900px
}

.home-elem-45 {
    padding: 32px 32px 32px 32px;
    align-items: baseline;
    -moz-column-gap: 32px;
         column-gap: 32px;
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 200px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-46 {
    -moz-column-gap: 12px;
         column-gap: 12px;
    font-family: Kumbh Sans;
    font-size: 52px;
    font-weight: 700;
    color: #000000;
    line-height: 62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-47 {
    font-family: Kumbh Sans;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 32px;
    padding: 32px 0px 0px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-48 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 34.058193630642364%;
    height: 229.65036010742188px;
    position: relative;
    display: block
}

.home-elem-49 {
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 900px
}

.home-elem-54 {
    font-family: Kumbh Sans;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 32px;
    padding: 32px 0px 0px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-52 {
    padding: 32px 32px 32px 32px;
    align-items: baseline;
    -moz-column-gap: 32px;
         column-gap: 32px;
    width: 13.042989095052082%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 200px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-53 {
    -moz-column-gap: 12px;
         column-gap: 12px;
    font-family: Kumbh Sans;
    font-size: 52px;
    font-weight: 700;
    color: #000000;
    line-height: 62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-50 {
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-51 {
    -o-object-fit: fill;
       object-fit: fill;
    width: 116.30434782608697%;
    height: 162.2269287109375px;
    position: relative
}

.home-elem-55 {
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(255, 222, 233)27.800000000000004%, rgba(255, 0, 66, 0.64)96.7%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 1px 0px 1px 0px;
    border-style: solid none solid none;
    border-color: #FFDEE9 transparent #ff0042a3 transparent;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100vh;
    min-width: 20px;
    position: relative;
    display: flex
}

.home-elem-56 {
    padding: 100px 16px 64px 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 42px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    max-width: 1300px;
    margin-right: auto;
    display: flex
}

.home-elem-61 {
    flex-direction: column;
    row-gap: 42px;
    z-index: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.home-elem-57 {
    flex-direction: column;
    row-gap: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.home-elem-58 {
    font-family: Kumbh Sans;
    font-size: 60px;
    font-weight: 600;
    color: #000000;
    line-height: 70px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 560px
}

.home-elem-59 {
    font-family: Kumbh Sans;
    font-size: 26px;
    font-weight: 400;
    color: #475569;
    line-height: 36px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 416px
}

.home-elem-60 {
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 12px;
         column-gap: 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.home-elem-62 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50%;
    height: auto;
    position: relative
}

.home-elem-66 {
    padding: 80px 16px 80px 16px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 66, 0.64)3.5999999999999996%, rgb(246, 239, 241)97.7%);
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 1px 0px 0px 0px;
    border-style: solid none none none;
    border-color: #ff0042a3 transparent transparent transparent;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.home-elem-65 {
    padding: 50px 100px 50px 100px;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffff;
    box-shadow: 0px 50px 70px 0px #0000000c;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1052px;
    position: relative
}

.home-elem-63 {
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    color: #182433;
    line-height: 44px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 760px
}

.home-elem-67 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    background-color: #ff0042a3;
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: 7px;
    display: block;
    min-height: 2px;
    min-width: 16px;
    position: relative;
    max-width: 130px
}

.home-elem-64 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #767D86;
    line-height: 24px;
    padding: 30px 0px 20px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: none
}

.home-elem-106 {
    padding: 80px 16px 80px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #f6eff1ff;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.home-elem-105 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 30px;
    background-color: #00000000;
    box-shadow: 0px 0px 0px 0px #000000;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1150px;
    position: relative
}

.home-elem-104 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    align-items: stretch;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    justify-content: space-between;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 531px;
    position: relative
}

.home-elem-107 {
    padding: 0px 0px 0px 0px;
    color: #FF0042;
    text-align: left;
    font-size: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: block;
    position: relative
}

.home-elem-108 {
    padding: 0px 0px 15px 0px;
    flex-direction: column;
    row-gap: 20px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #ff004200 transparent;
    height: auto;
    width: 91.59550496189384%;
    display: flex;
    margin-right: NaNpx;
    position: relative
}

.home-elem-109 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #FF0042;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-110 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    color: #FF0042;
    line-height: 36px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-111 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 450px;
    position: relative
}

.home-elem-116 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    align-items: stretch;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    justify-content: space-between;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 531px;
    position: relative
}

.home-elem-112 {
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 25px;
    color: #ff0042ff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: block;
    position: relative
}

.home-elem-115 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 20px;
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #D1E6FF transparent;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    position: relative
}

.home-elem-113 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #FF0042;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-114 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    color: #FF0042;
    line-height: 36px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-121 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    align-items: stretch;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    justify-content: space-between;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 531px;
    position: relative
}

.home-elem-117 {
    padding: 0px 0px 0px 0px;
    color: #FF0042;
    text-align: left;
    font-size: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: block;
    position: relative
}

.home-elem-120 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 20px;
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #D1E6FF transparent;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    position: relative
}

.home-elem-118 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #FF0042;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-119 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    color: #FF0042;
    line-height: 36px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.home-elem-122 {
    padding: 50px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1140px;
    position: relative
}

@media and (min-width:1920px) {
    .home-elem-2 {
        height: 200px;
        max-width: 1127px
    }
}

.linkedDivzkXA-elem-1 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    position: relative
} * {
    line-height: 1
}

*,
*::before,
*::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

a {
    color: inherit;
    text-decoration: inherit
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.container {
    max-width: 1140px;
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1
}

body {
    font-size: 0;
    font-family: "Nunito Sans"
}

html {
    font-size: 100%
}

input,
textarea,
select {
    min-height: 20px;
    border: 0;
    font-size: 16px
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0.1rem 0;
    width: 100%
}

.lg-text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

span {
    display: block
}

.linkedDivH1FU-elem-3:hover {
    background-color: #00000019
}

.linkedDivH1FU-elem-6:hover {
    background-color: #00000019
}

.linkedDivH1FU-elem-4:hover {
    background-color: #ffffff19;
    color: #ffffffff
}

.linkedDivH1FU-elem-1 {
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 1300px;
    position: relative
}

.linkedDivH1FU-elem-2 {
    background: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1670831129/static/menu_cdsvg_1669271257_86278svg_1670831129_48688.svg) 50% 50% / 55% auto no-repeat no-repeat scroll border-box padding-box;
    width: 50px;
    height: 50px;
    min-height: 20px;
    min-width: 20px;
    display: none;
    position: relative
}

.linkedDivH1FU-elem-3 {
    padding: 0px 0px 0px 0px;
    background-color: #ffffff00;
    border-radius: 2px 2px 2px 2px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    line-height: 36px;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.linkedDivH1FU-elem-6 {
    padding: 0px 0px 0px 0px;
    background-color: #ffffff00;
    background-image: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1684435343/static/logopng_1684435344_74530.png);
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-radius: 2px 2px 2px 2px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    color: #0f69d9ff;
    line-height: 50px;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.linkedDivH1FU-elem-5 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.linkedDivH1FU-elem-4 {
    padding: 12px 16px 12px 16px;
    background-color: #ffffff00;
    border-radius: 2px 2px 2px 2px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #ffffffbf;
    line-height: 26px;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400
}

@media and (min-width:1920px) {}