

@media (max-width:1199px) and (min-width:768px) {
    .home-elem-4:hover {
        background-color: #00000019
    }

    .home-elem-1 {
        background-size: cover
    }

    .home-elem-2 {
        max-width: 720px
    }

    .home-elem-3 {
        padding: 0px 0px 0px 0px
    }

    .home-elem-4 {
        background-color: #00000033;
        background-image: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1682276855/static/-white-hamsvg_1682276852_24826.svg);
        background-position: 50% 50%;
        background-size: 55% auto;
        background-repeat: no-repeat no-repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        border-radius: 4px 4px 4px 4px;
        display: block
    }

    .home-elem-5 {
        padding: 32px 0px 32px 0px;
        flex-direction: column;
        background-color: #000000ff;
        top: 72px;
        width: 100%;
        position: absolute;
        display: none
    }

    .home-elem-6 {
        width: 100%
    }

    .home-elem-124 {
        background-color: #00000000
    }

    .home-elem-125 {
        background-color: #0000002d;
        max-width: 1200px
    }

    .home-elem-126 {
        -o-object-fit: contain;
           object-fit: contain;
        margin-left: 8%
    }

    .home-elem-128 {
        font-size: 29px;
        line-height: 39px;
        margin-left: 10%
    }

    .home-elem-8 {
        max-width: 720px
    }

    .home-elem-9 {
        flex-direction: column
    }

    .home-elem-10 {
        padding: 0px 0px 40px 0px;
        max-width: 100%
    }

    .home-elem-13 {
        padding: 0px 0px 40px 0px;
        max-width: 100%
    }

    .home-elem-14 {
        padding: 0px 0px 0px 0px
    }

    .home-elem-29 {
        max-width: 720px
    }

    .home-elem-28 {
        flex-direction: column
    }

    .home-elem-25 {
        padding: 0px 0px 40px 0px;
        max-width: 100%
    }

    .home-elem-27 {
        padding: 0px 0px 40px 0px;
        max-width: 100%
    }

    .home-elem-26 {
        padding: 0px 0px 0px 0px
    }

    .home-elem-16 {
        max-width: 720px
    }

    .home-elem-17 {
        flex-direction: column-reverse
    }

    .home-elem-18 {
        padding: 0px 0px 40px 0px;
        max-width: 100%
    }

    .home-elem-19 {
        padding: 0px 0px 0px 0px
    }

    .home-elem-20 {
        padding: 0px 0px 40px 0px;
        max-width: 100%
    }

    .home-elem-35 {
        max-width: 720px
    }

    .home-elem-37 {
        margin-top: 34px
    }

    .home-elem-39 {
        width: 50%;
        height: auto
    }

    .home-elem-41 {
        min-height: 20px
    }

    .home-elem-43 {
        padding: 0px 0px 0px 0px;
        margin-top: 1px
    }

    .home-elem-45 {
        min-height: 20px
    }

    .home-elem-47 {
        padding: 0px 0px 0px 0px;
        margin-top: 1px
    }

    .home-elem-48 {
        -o-object-fit: fill;
           object-fit: fill;
        width: 45.71538837139423%
    }

    .home-elem-54 {
        padding: 0px 0px 0px 0px
    }

    .home-elem-52 {
        min-height: 20px
    }

    .home-elem-50 {
        width: 50%;
        height: auto
    }

    .home-elem-55 {
        display: block
    }

    .home-elem-58 {
        font-size: 38px;
        line-height: 48px
    }

    .home-elem-59 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-60 {
        -moz-column-gap: 15px;
             column-gap: 15px
    }

    .home-elem-65 {
        padding: 50px 16px 50px 16px
    }

    .home-elem-107 {
        width: auto;
        height: auto
    }

    .home-elem-112 {
        width: auto;
        height: auto
    }

    .home-elem-117 {
        width: auto;
        height: auto
    }
}


@media (max-width:1199px) and (min-width:768px) {}


@media (max-width:1199px) and (min-width:768px) {
    .linkedDivH1FU-elem-2:hover {
        background-color: #00000019
    }

    .linkedDivH1FU-elem-1 {
        padding: 0px 0px 0px 0px
    }

    .linkedDivH1FU-elem-2 {
        background-color: #00000033;
        background-image: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1682276855/static/-white-hamsvg_1682276852_24826.svg);
        background-position: 50% 50%;
        background-size: 55% auto;
        background-repeat: no-repeat no-repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        border-radius: 4px 4px 4px 4px;
        display: block
    }

    .linkedDivH1FU-elem-5 {
        padding: 32px 0px 32px 0px;
        flex-direction: column;
        background-color: #000000ff;
        top: 72px;
        width: 100%;
        position: absolute;
        display: none
    }

    .linkedDivH1FU-elem-4 {
        width: 100%
    }
}